<!DOCTYPE html>
<html>

<head>
    <title>TravelWithUs/admin-signin-page</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Flat Sign Up Form Responsive Widget Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="{{url_for('static',filename='css/signincss.css')}}" rel="stylesheet" type="text/css" media="all">
    <link href="{{url_for('static',filename='css/signinfont-awesome.min.css')}}" rel="stylesheet" type="text/css" media="all">
    <!-- <link href="signincss.css" rel="stylesheet">
    <link rel="stylesheet" href="signinfont-awesome.min.css"> -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
    <!-- <script>
        document.getElementById("f1".innerHTML = 'Wrong Message')
    </script> -->
</head>

<body>
    <!--main-->
    <div class="main-agileits">
        <h2 class="sub-head">Admin Sign In</h2>
        <div class="sub-main">
            <form action="#" method="post">
                <input placeholder="Name" name="name" class="name" type="text" required="">
                <span class="icon2"><i class="fa fa-user" aria-hidden="true"></i></span><br>
                <input placeholder="Password" name="password" class="pass" type="password" required="">
                <span class="icon3"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
                <!-- <p id="f1"></p>
                <script>
                    document.getElementById("f1").innerHTML = 'Wrong Message'
                </script> -->
                <input type="submit" value="login">
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <!--//main-->
    <!-- 
    <div class="login">
        If already a user <a href>click here.</a>
    </div> -->
    <!-- {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %} -->

    <!--footer-->
    <div class="footer-w3">
        <p>
            TravelWithUs
        </p>
    </div>
    <!--//footer-->

</body>

</html>