<head>
    <title>Bali</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/accomodation-style.css')}}" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span> 
                    </button>
                <a class="navbar-brand" href="#myCarousel">TravelWithUs</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    <li><a href="#signup">Sign Up</a></li>
                            <li><a href="#contact">Sign In</a></li> -->
    </ul>
    </div>
    </div>
    </nav>
    <div class="container-fluid">
        <div class="text-center">
            <h2>Type of accomodation</h2>
            <h4>Choose a payment plan that works for you</h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h1>Basic</h1>
                    </div>
                    <div>
                        <form class="form-inline" action="#" method="post">
                            <input type="hidden" name="service type" value="basic">
                            <div class="input-group">
                                <h3>Start Date</h3>
                                <input type="date" class="form-control" name="startdate" placeholder="startdate" required><br><br>
                                <h3>End Date</h3>
                                <input type="date" class="form-control" name="enddate" placeholder="enddate" required><br><br>
                                <h3>Enter the number of people</h3>
                                <input type="number" class="form-control" name="numofppl" placeholder="       No. of people" required><br>
                                <br><br>
                                <h3>₹2791</h3>
                                <h4>per day</h4><br>

                                <input class="btn btn-lg" type="submit" value="Book">

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>Pro</h1>
                        </div>
                        <div>
                            <form class="form-inline" action="#" method="post">
                                <input type="hidden" name="service type" value="pro">
                                <div class="input-group">
                                    <h3>Start Date</h3>
                                    <input type="date" class="form-control" name="startdate" placeholder="startdate" required><br><br>
                                    <h3>End Date</h3>
                                    <input type="date" class="form-control" name="enddate" placeholder="enddate" required><br><br>
                                    <h3>Enter the number of people</h3>
                                    <input type="number" class="form-control" name="numofppl" placeholder="       No. of people" required><br>
                                    <br><br>
                                    <h3>₹5960</h3>
                                    <h4>per day</h4><br>

                                    <input class="btn btn-lg" type="submit" value="Book">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default text-center">
                            <div class="panel-heading">
                                <h1>Premium</h1>
                            </div>
                            <div>
                                <form class="form-inline" action="#" method="post">
                                    <input type="hidden" name="service type" value="premium">
                                    <div class="input-group">
                                        <h3>Start Date</h3>
                                        <input type="date" class="form-control" name="startdate" placeholder="startdate" required><br><br>
                                        <h3>End Date</h3>
                                        <input type="date" class="form-control" name="enddate" placeholder="enddate" required><br><br>
                                        <h3>Enter the number of people</h3>
                                        <input type="number" class="form-control" name="numofppl" placeholder="       No. of people" required><br>
                                        <br><br>
                                        <h3>₹16407</h3>
                                        <h4>per day</h4><br>

                                        <input class="btn btn-lg" type="submit" value="Book">

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>